BOT_PREFIX=-
BOT_SELF_LISTEN=true
BOT_AUTO_ACCEPT_INVITES=false
BOT_ADMIN_ONLY=true
ADMIN_IDS=1234567890,9876543210

ZALO_COOKIES=
ZALO_IMEI=
ZALO_USER_AGENT=

ZALOPAY_APPID=
ZALOPAY_KEY1=
ZALOPAY_KEY2=
ZALOPAY_CREATE_URL=https://sb-openapi.zalopay.vn/v2/create
ZALOPAY_QUERY_URL=https://sb-openapi.zalopay.vn/v2/query

KAIA_TOKEN=
KAIA_CHANNEL_ID=
PIXVERSE_TOKEN=
