node_modules/
.env
config.json
credentials.json
qr.png
Downloads/
src/modules/cache/database.db
src/modules/cache/database.db-shm
src/modules/cache/database.db-wal
src/modules/cache/gdrive_cookies.json
src/modules/cache/tikwm_cookie.json
src/modules/cache/kaia_cache.json
src/modules/cache/autoReact.json
src/modules/cache/autosend_history.json
src/modules/cache/duyetmem_toggle.json
src/modules/cache/autodown_toggle.json
src/modules/cache/sendtask_autosend.json
src/modules/cache/weather_autosend.json
src/modules/cache/stk_temp/
src/modules/cache/temp/
